<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ecco il riepilogo della tua prenotazione</h1>
    <p>Grazie per aver effettuato una prenotazione con noi! </p>
    <p>Il tuo codice di prenotazione univoco è: </p>
    <p class="code" th:text="${codice}">
    </p>
    <p>Ті preghiamo di conservare questo codice per eventuali futuri riferimenti alla tua prenotazione.</p>
</body>
</html>