<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylePrenotazione.css">
    <style></style>
</head>
<body>
    <h1>Per favore selezione una data tra quelle disponibili</h1>
    <form action="http://localhost:8080/finalizzaPrenotazione" method="POST">
        <label for="date-time">Seleziona una data e un orario:</label>
        <select name="date-time" id="date-time" required>
            <option th:each="data: ${date}" th:value="${data}" th:text="${data}"></option>
        </select>
        <button type="submit" value="Prenota" class="tasto">Procedi con la prenotare</button>
    </form>
</body>
</html>