<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style></style>
</head>
<body>
    <h1>Prenota un tavolo nel tuo ristorante preferito o provane uno nuovo</h1>
    <form action="http://localhost:8080/prenotazione" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" maxlength="40" required><br>

        <label for="cognome">Cognome:</label><br>
        <input type="text" id="cognome" name="cognome" maxlength="40" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="telefono">Numero di telefono:</label><br>
        <input type="tel" id="telefono" name="telefono" pattern="[0-9]{10}" required><br>

        <label for="note">Note della prenotazione:</label><br>
        <textarea id="note" name="note" rows="4" cols="50" maxlength="200"></textarea><br>

        <label for="coperti">Numero di coperti:</label><br>
        <input type="number" id="coperti" name="coperti" min="1" max="200" required><br>

        <label for="ristorante">Ristorante di riferimento:</label><br>
        <input type="text" id="ristorante" name="ristorante" maxlength="40"><br>
        <!-- <select id="ristorante" name="ristorante">
            <option value="ristorante1">Ristorante 1</option>
            <option value="ristorante2">Ristorante 2</option> -->
            <!-- Aggiungi altre opzioni qui -->
        <!-- </select><br> -->

        <label for="date">Selezione il periodo in cui vorresti prenotare:</label><br>
        <input type="date" id="dateStart" name="date" min="2024-05-06" max="2024-12-31" required><br>
        <input type="date" id="dateEnd" name="date" min="2024-05-06" max="2024-12-31" required><br>

        <input type="submit" value="Prenota">
    </form>
</body>
</html>